---
---

@charset "utf-8";

// defaults
$titulo-font-family: 'Futura', sans-serif;
$texto-font-family: 'Droid Sans', sans-serif;

// variables.less
$vermelho: #821818;
$verde: #188282;
$verde-claro: #9FD079;
$cinza-claro: #EDEDED;
$cinza: #B7B7B7;
$cinza-escuro: #515151;

// do `sass_dir` (defaults em `_sass`)
@import
        "mixins",
        "base"
;
