---
---

@charset "utf-8";

// defaults
$titulo-font-family: 'Aquawax Medium', sans-serif;
$texto-font-family: 'Droid Sans', sans-serif;

// variables.less
$laranja: #E88A23;
$azul: #3A6EA5;
$azul-escuro: #004E98;
$cinza-claro: #EDEDED;
$cinza: #B7B7B7;
$cinza-escuro: #515151;

// do `sass_dir` (defaults em `_sass`)
@import
        "mixins",
        "base"
;
