    <!-- About Section -->
    <div class="split-header" style="background-color: #fff;">
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-6" style="padding-right:6%;">
              <br/><br/>
              <h2>Atlas da Notícia</h2>
              <h3>Mapeando o jornalismo local no Brasil</h3>
              <hr />
                <p>O <strong>Atlas da Notícia</strong> é uma iniciativa para mapear veículos produtores de conteúdo jornalístico – especialmente de jornalismo local – no território brasileiro. </p>

                  <p>Identificamos e mapeamos veículos que publicam, mesmo que só esparsamente, notícias de interesse público – sejam impressos ou digitais – e com periodicidade diária, semanal ou quinzenal. Estamos falando de produtores de notícias sobre a prefeitura e a câmara municipal e temas como contas públicas, saúde, educação, segurança, mobilidade e meio-ambiente.</p>

                  <p>O projeto é uma iniciativa do o Instituto para o Desenvolvimento do Jornalismo (<a href="www.projor.org.br" target="_blank">Projor</a>), mantenedor do Observatório da Imprensa, em parceria com <a href="www.voltdata.info" target="_blank">Volt Data Lab</a>.</p>

                  <!--<img src='doks-theme/assets/images/atlas_v3/atlas_regioes_proporcao.png' width="100%" />-->

                  <p>O <strong>Atlas da Notícia</strong> é inspirado no projeto <a href="https://www.cjr.org/local_news/american-news-deserts-donuts-local.php" target="_blank">America’s Growing News Deserts</a>, da revistas Columbia Journalism Review, que mapeou a presença de jornais nos Estados Unidos em meio às mudanças no modelo de negócios do jornalismo que levaram ao fechamento de diversos veículos.</p>

                  <p>A metododologia do projeto é baseada, principalmente, na contabilização de veículos de notícia no Brasil, seja através de pesquisa própria como de colaboração de terceiros.</p>

                  <p>A primeira edição do <strong>Atlas da Notícia</strong> foi publicada em novembro de 2017, com um recorte sobre jornais impressos e veículos online de notícias, e em 2021 chegou à sua quarta edição.</p>
                <br />
              </div>
              <div class="col-lg-6" style="padding-right:6%;">
              </div>
              </div>
    </section>
</div>
