<style>
.headerhist{
  text-align:center;
  padding-top: 100px;
}

.headerhist h1{
  font-size: 3em;
}

.headerhist h2{
  font-weight: 400;
  color: #444;
  text-align: center
}

.headerhist h3{
  font-weight: 400;
  font-size: 1em;
}


.hero-subheader{
  background-color: #f4f4f4;
}

span{
  color: #333;
}

.intro-message-alt{
  margin: 0 auto;
  max-width: 670px;
  height: 200px;
}

.intro-message-alt h4{
  margin: 0 auto;
  max-width: 670px;
  color: #008596;
  font-size: 1.2em;
  text-align: center

}

</style>

<div class="hero-subheader">
<!-- Navigation -->
    <div class="split-header" style="padding: 0;">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container headerhist">
              <h1>
              OS DESERTOS DE NOTÍCIA NO BRASIL
              </h1>
                      <div class="output" id="output" style="min-height: 250px">
                        <h2></h2>
                          <h4 class="cursor"></h4>
                        <br /><br /><br /><br />
                      </div>
            </div>

        </nav>
    </div>
</div>

<script type="text/javascript">
  // values to keep track of the number of letters typed, which quote to use. etc. Don't change these values.
  var i = 0,
      a = 0,
      isBackspacing = false,
      isParagraph = false;

  // Typerwrite text content. Use a pipe to indicate the start of the second line "|".
  var textArray = [
    "18% da população carece de acesso a jornalismo local",
    "62% dos municípios não têm cobertura noticiosa",
    "Em geral, desertos de notícias possuem 7.100 habitantes"
  ];

  // Speed (in milliseconds) of typing.
  var speedForward = 30, //Typing Speed
      speedWait = 1500, // Wait between typing and backspacing
      speedBetweenLines = 600, //Wait between first and second lines
      speedBackspace = 3; //Backspace Speed

  //Run the loop
  typeWriter("output", textArray);

  function typeWriter(id, ar) {
    var element = $("#" + id),
        aString = ar[a],
        eHeader = element.children("h2"), //Header element
        eParagraph = element.children("h6"); //Subheader element

    // Determine if animation should be typing or backspacing
    if (!isBackspacing) {

      // If full string hasn't yet been typed out, continue typing
      if (i < aString.length) {

        // If character about to be typed is a pipe, switch to second line and continue.
        if (aString.charAt(i) == "|") {
          isParagraph = true;
          eHeader.removeClass("cursor");
          eParagraph.addClass("cursor");
          i++;
          setTimeout(function(){ typeWriter(id, ar); }, speedBetweenLines);

        // If character isn't a pipe, continue typing.
        } else {
          // Type header or subheader depending on whether pipe has been detected
          if (!isParagraph) {
            eHeader.text(eHeader.text() + aString.charAt(i));
          } else {
            eParagraph.text(eParagraph.text() + aString.charAt(i));
          }
          i++;
          setTimeout(function(){ typeWriter(id, ar); }, speedForward);
        }

      // If full string has been typed, switch to backspace mode.
      } else if (i == aString.length) {

        isBackspacing = true;
        setTimeout(function(){ typeWriter(id, ar); }, speedWait);

      }

    // If backspacing is enabled
    } else {

      // If either the header or the paragraph still has text, continue backspacing
      if (eHeader.text().length > 0 || eParagraph.text().length > 0) {

        // If paragraph still has text, continue erasing, otherwise switch to the header.
        if (eParagraph.text().length > 0) {
          eParagraph.text(eParagraph.text().substring(0, eParagraph.text().length - 1));
        } else if (eHeader.text().length > 0) {
          eParagraph.removeClass("cursor");
          eHeader.addClass("cursor");
          eHeader.text(eHeader.text().substring(0, eHeader.text().length - 1));
        }
        setTimeout(function(){ typeWriter(id, ar); }, speedBackspace);

      // If neither head or paragraph still has text, switch to next quote in array and start typing.
      } else {

        isBackspacing = false;
        i = 0;
        isParagraph = false;
        a = (a + 1) % ar.length; //Moves to next position in array, always looping back to 0
        setTimeout(function(){ typeWriter(id, ar); }, 50);

      }
    }
  }</script>
