<style>
.paragrafo p{
  font-size: 1.2em
}

.destaque{
  font-size: 1.8em;
  color: #008596;
  line-height: 1.3em;
}

</style>

                  <div class="col-md-6 col-md-offset-3 paragrafo" style="padding: 3%; margin-top: 30px;">
                    <hr />
                  <p>É possível notar que os Estados no Norte e no Nordeste do Brasil são os que possuem uma proporção maior de <em>desertos de notícia</em>. </p>
                  <p>Em meio a esse cenário desértico, há também um outro, tão ou mais preocupante. Trata-se dos municípios que possuem apenas um ou dois veículos jornalísticos -- os chamados <em>quase desertos</em>, cujas chances de se tornarem localidades sem nenhuma cobertura local são grandes. Em geral, são um pouco maiores (população mediana de 17.800).</p>
                  <p>Os <em>quase desertos</em> trazem uma nuance adicional a todo esse cenário, a da qualidade do jornalismo ali ofertado. Com pouca ou nenhuma concorrência, iniciativas locais estão mais vulneráveis a interferências políticas ou empresariais, por exemplo, embora isso seja difícil de apurar caso a caso. Ainda há muito que não sabemos.</p>

                  <hr />
                </div>
