<style>
.paragrafo p{
  font-size: 1.2em
}

.destaque{
  font-size: 1.8em;
  color: #008596;
  line-height: 1.3em;
}

</style>

                  <div class="col-md-6 col-md-offset-3 paragrafo" style="padding: 3%; margin-top: 30px;">
                    <hr />
                  <p>É possível notar que os Estados no Norte e no Nordeste do Brasil são os que possuem uma proporção maior de <em>desertos de notícia</em>, ao passo que o <em>quase desertos</em> estão distribuídos mais igualmente no território.</p>

                  <img src='../doks-theme/assets/images/atlas_v3/atlas_regioes_proporcao.png' width="100%" />

                  <table class="tg">
  <tr>
    <th class="tg-0lax">região</th>
    <th class="tg-0lax">total municípios</th>
    <th class="tg-0lax">total desertos</th>
    <th class="tg-0lax">proporção desertos/municípios</th>
  </tr>
  <tr>
    <td class="tg-0lax">Nordeste</td>
    <td class="tg-0lax">1.794</td>
    <td class="tg-0lax">1.318</td>
    <td class="tg-0lax">73,5%</td>
  </tr>
  <tr>
    <td class="tg-0lax">Norte</td>
    <td class="tg-0lax">450</td>
    <td class="tg-0lax">323</td>
    <td class="tg-0lax">71,8%</td>
  </tr>
  <tr>
    <td class="tg-0lax">Sudeste</td>
    <td class="tg-0lax">1.668</td>
    <td class="tg-0lax">1.010</td>
    <td class="tg-0lax">60,6%</td>
  </tr>
  <tr>
    <td class="tg-0lax">Sul</td>
    <td class="tg-0lax">1.191</td>
    <td class="tg-0lax">653</td>
    <td class="tg-0lax">54,8%</td>
  </tr>
  <tr>
    <td class="tg-0lax">Centro-Oeste</td>
    <td class="tg-0lax">467</td>
    <td class="tg-0lax">183</td>
    <td class="tg-0lax">39,2%</td>
  </tr></table>

                  <hr />
                </div>
