<style>
.paragrafo p{
  font-size: 1.2em
}

.destaque{
  font-size: 1.8em;
  color: #008596;
  line-height: 1.3em;
}

.button{
  padding: 5px 7px;
  background-color: #008596;
  color: #fff;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  border-radius: 3px
}

.button:hover{
  background-color: #cbcbcb;
  color: #222
}

</style>

    <!-- História dos desertos -->
    <section id="about" class="container content-section">
        <div class="row">
                  <div class="col-md-6 col-md-offset-3 paragrafo" style="padding: 2%;">
                    <h3 style="text-align:center; font-weight:400;font-size:0.9em;  margin-bottom: 30px;">
                      Publicado em 17 fevereiro de <span>2020</span><br />
                      Realização de <span>Projor</span> <br />
                      Desenvolvimento de <span>Volt Data Lab</span> <br /><br />
                      <a href="/plataforma/consulta/" style="border-bottom: none"><button class="button">Consulte os dados</button></a>
                      <a href="/plataforma/utilizarAPI/" style="border-bottom: none"><button class="button">Acesse a API</button></a>
                      <a href="/plataforma/formulario/" style="border-bottom: none"><button class="button">Participe da pesquisa</button></a>
                    </h3>
                    <hr />
                  <p>Municípios que não possuem presença de veículos jornalísticos estão espalhados por todo o Brasil. Os chamados <em>desertos de notícias</em> são, em geral, cidades pequenas, com população mediana de 7.100 habitantes. </p>

                  <p>Essas localidades correspondem a 62,6% dos municípios brasileiros. Embora representem a maior parte do número de cidades, elas totalizam 37 milhões de pessoas -- ou seja, 18% da população nacional.</p>

                  <p><strong>Por que isso é relevante?</strong> Porque um município sem jornalismo local, que não possui uma cobertura noticiosa própria, é carente de informações independentes para que sua população possa votar, cobrar os governantes e saber mais sobre serviços, problemas e acontecimentos específicos daquela localidade.</p>

                  <h3>Total de desertos de notícia no Brasil</h3>

                  <table class="tg">
                    <tr>
                      <th class="tg-0lax"></th>
                      <th class="tg-0lax"><strong>população</strong></th>
                      <th class="tg-0lax"><strong>proporção</strong></th>
                    </tr>
                    <tr>
                      <td class="tg-0lax">NÃO DESERTOS</td>
                      <td class="tg-0lax">171.197.923</td>
                      <td class="tg-0lax">82,1%</td>
                    </tr>
                    <tr>
                      <td class="tg-0lax">DESERTOS</td>
                      <td class="tg-0lax"><strong>37.296.977</strong></td>
                      <td class="tg-0lax"><strong>17,9%</strong></td>
                    </tr>
                  </table>

                  <p><span class="destaque"><strong>Desertos de notícias</strong> são municípios sem veículos independentes de jornalismo.</span></p>

                  <p>Em meio a esse cenário desértico, há também um outro, também grave. Trata-se dos municípios que possuem apenas um ou dois veículos jornalísticos -- os chamados <em>quase desertos</em>, cujas chances de se tornarem localidades sem nenhuma cobertura local são grandes. </p>

                  <p>Totalizam 19% dos municípios, com 27,5 milhões de pessoas, e, em geral, são consideravelmente maiores do que os <em>desertos</em> (população mediana de 17.800 habitantes).</p>

                  <p>Os <em>quase desertos</em> trazem uma nuance adicional a todo esse cenário, a da qualidade do jornalismo ali ofertado. Com pouca ou nenhuma concorrência, iniciativas locais estão mais vulneráveis a interferências políticas ou empresariais, por exemplo, embora isso seja difícil de apurar caso a caso.</p>

                  <p>Ainda há muito que não sabemos sobre a qualidade desses veículos jornalísticos -- é necessário haver mais pesquisa, inclusive de campo -- mas já é possível afirmar com segurança que fazer jornalismo independente nesses locais não é tarefa simples.</p>


                  <hr />
                </div>
              </div>
