<style>
.paragrafo p{
  font-size: 1.2em
}

.destaque{
  font-size: 1.8em;
  color: #008596;
  line-height: 1.3em;
}

</style>

    <!-- História dos desertos -->
    <section id="about" class="container content-section">
        <div class="row">
                  <div class="col-md-6 col-md-offset-3 paragrafo" style="padding: 2%;">
                    <h3 style="text-align:center; font-weight:400;font-size:0.9em;  margin-bottom: 30px;">
                      Published in May <span>2020</span> <br />
                      A project by <span><a href="https://www.projor.org.br/en" target="_blank">Projor</a></span> <br />
                      Developed by <span><a href="https://www.voltdata.info" target="_blank">Volt Data Lab</a></span> <br />

                    </h3>
                    <hr />
                  <p>Municipalities that do not have news outlets are spread across Brazil. The so-called <em>news deserts</em> are, in general, small towns with a median population of 7,100 inhabitants.</p>

                  <p>These locations correspond to 62.6% of Brazilian municipalities. Although they represent the majority of cities in the country, they total 37 million people - that is, 18% of the national population.</p>

                  <p><strong> Why is this relevant? </strong> Because a municipality without local journalism, which does not have its own news coverage, lacks independent information so that its population can vote, demand action from government officials and learn more about services, problems and specific local events.</p>

                  <h3>Total news deserts in Brazil</h3>

                  <table class="tg">
                    <tr>
                      <th class="tg-0lax"></th>
                      <th class="tg-0lax"><strong>population</strong></th>
                      <th class="tg-0lax"><strong>proportion</strong></th>
                    </tr>
                    <tr>
                      <td class="tg-0lax">NOT DESERTS</td>
                      <td class="tg-0lax">171,197,923</td>
                      <td class="tg-0lax">82.1%</td>
                    </tr>
                    <tr>
                      <td class="tg-0lax">DESERTS</td>
                      <td class="tg-0lax"><strong>37,296,977</strong></td>
                      <td class="tg-0lax"><strong>17.9%</strong></td>
                    </tr>
                  </table>

                  <p><span class="destaque"><strong>News deserts</strong> are municipalities without independent journalistic news organizations.</span></p>

                  <p>In the midst of this scenario, there is also another one, also serious situation, regarding the <em>almost deserts</em>. These are the municipalities that have only one or two news organizations, whose chances of becoming localities without any local coverage are considerable. In general, they are usually larger than <em>deserts</em> (median population of 17,800 inhabitants).</p>

                  <p>The <em> almost deserts </em> bring an additional nuance to this whole scenario, that of the quality of journalism offered there. With little or no competition, local initiatives are more vulnerable to political or business interference, for example, although this is difficult to ascertain without evidence in a case-by-case basis.</p>

                  <p>There is still a lot that we do not know about the quality of these journalistic organizations - more research is needed, including in the field - but it is already possible to safely say that doing independent journalism in these places is not a simple task.</p>

                  <hr />
                </div>
              </div>
