<section id="services">
<!-- Page Content -->
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Traga seus amigos para o Vortex</h2>
                  <div class="lead">
                    <p>Convide seus amigos e amigas para elevar o jornalismo e o debate sobre o poder junto com a gente.</p>
                  </div>
                  <ul class="nav navbar-nav" style="display: inline-flex">
                        {% for social in site.social %}
                        <li>
                          <a href="{{ social.url }}" style="color: #241F21 !important"><i class="fab fa-{{ social.title }} fa-2x"></i></a>
                        </li>
                        {% endfor %}
                        <li class="nav navbar-nav" style="display: inline-flex">
                          <a href="" style="color: #241F21 !important"><i class="fab fa-whatsapp fa-2x"></i></a>
                          </li>
                      </ul>

                    <!-- <img class="img-responsive" src="img/services/{{ post.img }}" alt="celular"> -->
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ post.title }}</h2>
                    <div class="lead">{{ post.content }}</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
