<section id="contato">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato</h2>
                <hr class="primary">
                <p>Tem outras sugestões para ajudar este projeto?
                Mande um email pra gente: info [a] voltdata.info</p>
                <br />
            </div>
        <div class="col-lg-1 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-1 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-1 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-facebook wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-1 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
    <br /><br /><br />
    <div class="text-center">
      <form action="https://tinyletter.com/atlasjor" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/atlasjor', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail"></label> <input style="border:0;border-bottom: 2px solid #E88A23;background-color:#B7B7B7;width:200px;font-family:'Droid Sans'; font-size:.8em; text-align:left" type="text" name="email" id="tlemail" placeholder="Receba novidades por email" />
      <input type="hidden" value="1" name="embed"/>
      <input class="botao-news" type="submit" value="assinar" /></p>
      </form>
    </div>
</section>
