<section class="bg-primary" id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Atlas da Notícia (News Atlas) is a pioneering project by Projor – Instituto para o Desenvolvimento do Jornalismo aimed to produce a comprehensive investigation about the local and regional Brazilian press amidst the digital revolution. Its first
          goal is to identify news outlets all over the Brazilian territory (5,570 municipalities), especially those covering civic local subjects such as public spending, local law making process, health, education, security, mobility and the environment.
          </p>
        <p> It has been planned into two interconnected phases. The first and current phase comprises of building a database and publishing an initial report including a series of analytical articles, maps and charts at Observatório da Imprensa (Projor's
          media watch website).
        </p>
        <p>Atlas da Notícia is inspired by the America’s Growing News Desert, developed by Columbia Journalism Review to map local newspapers in the United States.
        </p>
        <p>
          We are still working our interactive platform and database, and also developing new stages of research and analysis. To have full access to our current data feating print and online media organizations, click on the links bellow</p>
        <br />

        <div style="margin: 0 auto;text-align:center;">
          <a href="https://github.com/voltdatalab/Atlas-Analytics" target="_blank"><span class="btn btn-primary btn-xl page-scroll"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Complete Data on Github</span></a>
          <a href="https://docs.google.com/spreadsheets/d/1SudAc6RAQuYu4bWj_gJnuGrRmJXTP_TYMdx7huHkrbA/edit?usp=sharing" target="_blank"><span class="btn btn-primary btn-xl page-scroll"><i class="fa fa-table fa-lg" aria-hidden="true"></i> Partial data on Google Sheets</span></a>
          <a href="{{site.baseurl}}/dados/atlas.csv" target="_blank"><span class="btn btn-primary btn-xl page-scroll"><i class="fa fa-sort-numeric-desc fa-lg" aria-hidden="true"></i> Partial data in CSV file</span></a>
          <h5><em>Note: All raw that is in Portuguese-only for now.</em></h5>
        </div>

        <div class="sep">

        </div>
        <div class="category-page-posts animated fadeIn ">
          <h3>Key Figures</h3>
          <ul>
            <li><strong>Total mapped media organizations: 5,354</strong></li>
            <ul>
              <li>Print newspapers: 3,379 (63%)</li>
              <li>Online news: 1,984 (37%)</li>
            </ul>
            <li><strong>Cities at least print or online news outlet: 1,125</strong> </li>
            <ul>
              <li>They represent around 65% of Brazil's population (130 million people)</li>
              <li>Average Human Development Index of cities mapped: 0,727</li>
              <li>Average national Human Development Index: 0,659</li>
            </ul>
          </ul>
          <h3>Key Findings</h3>
          <ul>
            <li>Newspapers and online news were mapped in 1,125 cities, which means that in over 4,500, representing over <strong>70 million people</strong>, it was not possible to identify such local news outlets.</li>
            <li>The so called <strong>"news deserts"</strong> account for some 35% of Brazil's population </li>
            <li>416 cities, representing more than 15 million people, had <strong>only one</strong> newspaper or local news website</li>
          </ul>
          <h3>Major cities disparities</h3>
          <ul>
            <li>Brazil's three main cities (Sao Paulo, Rio de Janeiro and the capital Brasilia) account for 1,112 mapped newspapers or websites, representing 20.7% of the total, although they have only some 10% of the national population.</li>
            <li>State capitals ranked in the 11 first spots in the ranking in number of mapped newspapers and news websites.</li>
          </ul>
          <h3>News density</h3>
          <ul>
            <li>The Southern city of Florianopilies ranked first in the number of newspapers or news websites per citizens in municipalities above 100,000 people, with 16.7 media outlets by a group of that many people. </li>
            <li>Ther Northern city of Fortaleza was the worse, with just 0,87 media outlets per 100,000 people. </li>
          </ul>
          <br />
        <hr />
        <br />
        <h3>The team</h3>
        <br />
        <p><strong>Angela Pimenta</strong> – President of Projor since July 2015, holds a Master’s in Journalism from Columbia Journalism School (2001). She is the executive-coordinator of Projeto Credibilidade and was a senior editor for Exame magazine
          in Brasília (2007-2011), partner of Patri Políticas Públicas consultancy (2012-2014) and representative of the Online News Association in Brazil (2009-2014).</p>
        <p><strong>Adriana Garcia</strong> – Operations director at Projor since May 2017, is a journalist and digital media consultant. She holds a Master’s from the University of São Paulo (USP) and was a J.S. Knight Fellow at Stanford University (2013).
          Digital Comms Director for the Rio 2016 Olympic and Paralympic Games, she worked at Reuters, Exame, Veja SP and Folha de S.Paulo for over two decades and also created Orbital Mídia, an advocacy and discussion hub to promote digital transformation
          in Journalism.</p>
        <p><strong>Pedro Varoni</strong> – Editorial Director at Projor since May 2017, he is also the editor of Observatório da Imprensa and a professor and researcher. He holds a Phd in Linguistics from the Federal University of São Carlos (UFSCar). Joined
          EPTV and was Journalism Director at TV Sergipe. He was general director at state-owned company Empresa Brasileira de Comunicação (EBC) in 2016.</p>
        <p><strong>Francisco Belda</strong> – Journalist, professor at the Social Communication Department and vice-coordinator of the Graduate Program on Media and Technology at Sao Paulo State University (Unesp). He was a reporter, editor, manager, and
          director of news companies. He is also visiting scholar at Brandeis University, in Massachusetts, US. He earned a PhD in Production Engineering and a master’s degree in Communication Sciences from University of Sao Paulo (USP).</p>
        <p><strong>Sérgio Spagnuolo</strong> – Managing-editor of Volt Data Lab, has worked for several media companies, such as Reuters, Yahoo News and Mergermarket, and has been part of innovative projects, like fact-checking website Aos Fatos. Holds a
          bachelor degree in Journalism from Mackenzie University and a Master’s degree in International Relations from Pontifícia Universidade Católica, both in São Paulo. He is a Tow-Knight fellow for Entrepreneurial Journalism in the City University
          of New York (CUNY).</p>
          </div>
      </div>
    </div>
  </div>
</section>

<style>


  .sep {
    height: 3px;
    background-color: #cbcbcb;
    width: 100%;
    margin: 50px 0;
  }

  .btn {
    margin-bottom: 10px;
    font-size: .8em
  }
</style>
