<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <p>
                Nesta seção, você poderá ter acessos a todos os dados levantados pelo Atlas da Notícia,
                inclusive tabelas e ao nosso banco de dados modelado para SQLite.
              </p>
              <p>
                Para ter completo acesso ao levantamento do <strong>Atlas da Notícia</strong> e à documentação, inclusive com as tabelas utilizadas para o 1º relatório sobre desertos de notícias e cruzamentos com o Índice de Desenvolvimento Humano dos Municípios (IDHM), recomendamos o acesso à página no Github.
              </p>
              <p>
                Para acesso mais rápido e simplificado, recomendamos as outras opções.
              </p>
              <p>
                Leve em conta que esta é apenas uma primera etapa para o projeto. Pretendemos constantemente construir novas funcionalidades e recursos para este banco de dados, como busca, downloads, cruzamentos, gráficos e mapas interativos, assim como atualizar com novas informações e pesquisas.
              </p>

              <div style="margin: 0 auto;text-align:center;">
              <a href="https://github.com/voltdatalab/Atlas-Analytics" target="_blank"><span class="btn btn-primary btn-xl page-scroll"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Github (completo)</span></a>
              <a href="https://docs.google.com/spreadsheets/d/1SudAc6RAQuYu4bWj_gJnuGrRmJXTP_TYMdx7huHkrbA/edit?usp=sharing" target="_blank"><span class="btn btn-primary btn-xl page-scroll"><i class="fa fa-table fa-lg" aria-hidden="true"></i> Google Sheets</span></a>
              <a href="{{site.baseurl}}/dados/atlas.csv" target="_blank"><span class="btn btn-primary btn-xl page-scroll"><i class="fa fa-sort-numeric-desc fa-lg" aria-hidden="true"></i> .CSV (apenas veículos)</span></a>

              </div>

              <div class="sep">

              </div>
              <div class="category-page-posts animated fadeIn ">
                <h3>Interativos</h3>
                <br />
                {% for post in site.posts %}

                            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                            <p>{{ post.descricao }}</p>


                            <hr />

                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</section>

<style>


.sep {
  height: 3px;
  background-color: #cbcbcb;
  width: 100%;
  margin: 50px 0;
}

.btn {
  margin-bottom: 10px;
  font-size: .8em
}

</style>
