<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Formulário - Atlas da Notícia</h2>
              <p>Por favor, utilize o formulário abaixo para registrar informações sobre veículos jornalísticos no Brasil. Entre os itens solicitados estão o endereço da sede e links para contas de redes sociais, então pode ser uma boa ideia ter outra aba de seu navegador aberta com o site do veículo.</p>
              <p>A estimativa de tempo para responder a este formulário é de apenas <strong>5 a 8 minutos</strong>. </p>
              <p>Contamos com sua ajuda para identificar produtores locais de jornalismo a fim de mapearmos essas iniciativas.</p>
              <p>Não se preocupe em achar que pode haver redundância nas suas respostas com a de outros participantes: essa redundância nos ajuda a validar o veículo com mais rapidez e precisão.  </p>
            </div>
        </div>
    </div>
</section>
