<header>

    <div class="header-content">
        <div class="header-content-inner">
            <!--<img src="img/{{ site.logo }}" alt="logotipo" />-->
            <h1><span id="cima" style="color:#188282;border-bottom: 3px solid #821818;line-height: 1.5em">{{ site.title }}</span><br /><span id="baixo" style="color:#188282">{{ site.comp }}</span> </h1>
            <br />
            <h2> {{ site.description }}</h2>
            <br />
            <a href="https://docs.google.com/forms/d/1QrWGw4ohHKR65w4BS15PU_X0EMcFHH2ya2ZyrF3gSBw/edit" class="btn btn-primary btn-xl page-scroll" target="_blank">Indique um veículo</a>
            <div class="redesdiv">
              <ul class="redes-inicio">
                <li> <i class="fa fa-twitter fa-2x"></i></li>
                <li><i class="fa fa-facebook fa-2x"></i></li>
                <li><i class="fa fa-envelope-o fa-2x"></i></li>
              </ul>
            </div>
            <div class="arrow">
                    <a href="#sobre" class="page-scroll arrow">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i> <br />
                    </a>
            </div>
        </div>
    </div>
  </div>
</header>
