<header>
    <div class="header-content">
        <div class="header-content-inner">
            <!--<img src="img/{{ site.logo }}" alt="logotipo" />-->
            <h1><span style="color:#E88A23;font-size:2em">{{ site.title }}</span><br /><span style="color:#004E98">{{ site.comp }}</span> </h1>
            <hr>
            <h2> {{ site.description }}</h2>
            <a href="https://docs.google.com/forms/d/1QrWGw4ohHKR65w4BS15PU_X0EMcFHH2ya2ZyrF3gSBw/edit" class="btn btn-primary btn-xl page-scroll" target="_blank">Indique um veículo</a>
            <div class="arrow">
                    <a href="#sobre" class="page-scroll arrow">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i> <br />
                    </a>
            </div>
        </div>
    </div>
</header>
