<section id="newsletter">
    <div class="text-center">
      <h2 style="color:#fff">Receba atualizações por email</h2>
      <form action="https://tinyletter.com/atlasjor" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/atlasjor', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail"></label> <input class="assinar" style="border:0;
      background-color: #515151;
      width:300px;
      color:white;
      font-family:'Droid Sans';
      font-size:.8em;
      text-align:left;
      padding: 10px;
      border-radius: 10px;" type="text" name="email" id="tlemail" placeholder="Coloque seu email aqui" />
      <input type="hidden" value="1" name="embed"/>
      <input class="botao-news" type="submit" value="assinar" /></p>
      </form>
    </div>
</section>
