<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sobre o projeto</h2>
                <hr>
                <p>Mantenedor do <a href="http://observatoriodaimprensa.com.br/" target="_blank">Observatório da Imprensa</a>, o Instituto para o Desenvolvimento do Jornalismo (Projor), em parceria com <a href="https://voltdata.info" target="_blank">Volt Data Lab</a>, está desenvolvendo um projeto inédito para mapear os veículos produtores de notícias – especialmente de jornalismo local – no território brasileiro.</p>
                <p>Queremos identificar veículos que publiquem notícias de interesse público – sejam impressos ou digitais – e com periodicidade diária, semanal ou quinzenal. Estamos falando de produtores de notícias sobre a prefeitura e a câmara municipal e temas como contas públicas, saúde, educação, segurança, mobilidade e meio-ambiente.</p>
                <p>Contamos com a <a href="https://goo.gl/forms/2wWj3QUxKpT2Dv1g2" target="_blank">sua ajuda</a> para identificar e documentar a existência desses veículos.</p>
                  <a href="http://observatoriodaimprensa.com.br/" target="_blank" class="btn btn-primary btn-xl">Saiba mais</a>
            </div>
        </div>
    </div>
</section>
