@font-face {
  font-family: 'Futura';
  src: url('{{site.baseurl}}/fonts/Futura.ttf')  format('truetype')
}

@font-face {
  font-family: 'Futura Light';
  src: url('{{site.baseurl}}/fonts/Futura_Light.ttf')  format('truetype')
}

@font-face {
  font-family: 'Futura Book';
  src: url('{{site.baseurl}}/fonts/Futura_Book.ttf')  format('truetype')
}


html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Futura Light';
}

body {
    @include serif-font;
}

hr {
    border-color: $vermelho;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $verde;
    font-weight: 700;
    &:hover,
    &:focus {
        color: $vermelho;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titulo-font-family;
}

h2 {
  margin-bottom: 30px;
  color: $cinza-escuro;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.bg-primary {
    background-color: $cinza-claro;
    color: $cinza-escuro;
}

.bg-dark {
    background-color: $cinza-escuro;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: white;
    border-color: rgba($cinza-escuro, .0);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $verde;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: none;
        &:hover,
        &:focus {
            color: darken($vermelho, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $cinza-escuro;
                &:hover {
                    color: $vermelho;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $vermelho !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, 0);
        .navbar-header .navbar-brand {
            color: rgba(white, .9);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .9);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($cinza-escuro, .5);
            .navbar-header .navbar-brand {
                color: $vermelho;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($vermelho, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $cinza-escuro;
                &:hover {
                    color: $vermelho;
                }
            }
        }
    }
}

/* Navegação 2 */
.navbar-dois {
    background-color: white;
    border-color: rgba($cinza-escuro, .0);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $verde;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: none;
        &:hover,
        &:focus {
            color: darken($vermelho, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $cinza-escuro;
                &:hover {
                    color: $vermelho;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $vermelho !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, 0);
        .navbar-header .navbar-brand {
            color: rgba(black, .8);
            &:hover,
            &:focus {
                color: darken($vermelho, 10%);
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(black, .5);
            &:hover {
                color: darken($vermelho, 10%);
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($cinza-escuro, .5);
            .navbar-header .navbar-brand {
                color: $vermelho;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($vermelho, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $cinza-escuro;
                &:hover {
                    color: $vermelho;
                }
            }
        }
    }
}

// Homepage Header

.redes-inicio {
  margin-top: 50px;
  font-size:1.2em;
  color: white;
  text-shadow: 1px 1px #000;
}
.redes-inicio li{
  padding-right: 5%;
  display: inline-block;

}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    background-image: url('../img/cover_atlas.png');
    text-align: center;
    color: #CDCDC1;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 100px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: none;
                margin-top: 0;
                margin-bottom: 0;
                text-shadow: 1px 1px #222;
            }
            hr {
                margin: 30px auto;
            }
            h2 {
                font-weight: 300;
                color: #f4f4f4;
                margin-bottom: 50px;
                text-shadow: 1px 1px #222
            }
            #cima{
                font-size: 1.6em;
            }
            #baixo{
                font-size: .8em;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                #cima {
                    font-size: 2em;
                }
                #baixo{
                    font-size: 1em;
                }
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.anuncio {
  font-size: 1.8em;
}

#formbase{
  width: 100%;
  min-height: 3400px;
}

.section-heading {
    margin-top: 0;
    text-align: center;
}

.service-box {
    max-width: 400px;
    margin: 50px auto 0;
    @media (min-width: 992px) {
        margin: 20px auto 0;
    }
    p {
        margin-bottom: 0;
    }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Bootstrap Overrides
.text-primary {
    color: $vermelho;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
.btn-default {
    @include button-variant($cinza-claro, white, white);
    background-color: $cinza-escuro
}

.btn-default:hover{
    @include button-variant(white, $verde, $verde);
}

.btn-primary {
    @include button-variant(white, $vermelho, $vermelho);
}

.btn-primary:hover{
    @include button-variant(white, $verde, $verde);
}

.btn {
    font-family: $titulo-font-family;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

.botao-news {
    padding: 10px 15px;
    font-family: $titulo-font-family;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 20px;
}

.botao-news {
    @include button-variant(white, $vermelho, $vermelho);
}

.botao-news:hover{
    @include button-variant(white, $verde, $verde);
}

.arrow, .arrow a{
  color: $vermelho;
  font-size: 1.8em;
  margin-top: 7%;
}

.arrow a:hover {
  color: $verde;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}

// contato
#contato .fa {
    color: $cinza-escuro;
    font-size: 2em;
}

#contato {
    background-color: $cinza;
}

.newsletter{
  background-color: $verde;
  font-size: 2em;
}

.assinar {
  border:0;
  background-color: #515151;
  width:300px;
  color:white;
  font-family:'Droid Sans';
  font-size:.8em;
  text-align:left;
  padding: 10px;
  border-radius: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $cinza-escuro;
}

::selection {
    color: white;
    text-shadow: none;
    background: $cinza-escuro;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $cinza-escuro;
}
